name: auto-merge-release
on:
  pull_request:
    types: [labeled]

jobs:
  auto-merge:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'autorelease: pending') }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable auto-merge
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
